@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*Конец обнуления--------------------*/
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.hi {
  background: #445161;
  padding: 50px 0;
}

.hi__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hi_image {
  max-width: 469px;
}

.hi__body {
  color: #ffffff;
  padding: 0 30px 0 0;
}

.hi__title {
  font-size: 59px;
  margin: 0 0 40px 0;
}

.hi__text {
  margin: 40px 0 0 0;
}

.hi__list {
  font-size: 20px;
  line-height: 30px;
}

.hi__list li {
  background: url(../img/check-icon.png) 0 1px no-repeat;
  padding: 0 0 0 30px;
  margin: 0 0 15px 0;
}

.hi__list li:last-child {
  margin: 0;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.footer {
  background-color: #ebfafa;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 65px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__text {
  color: #445162;
  font-size: 12px;
  letter-spacing: 0.3px;
}

.what {
  margin: 50px 0;
}

.what_subtitle {
  font-size: 30px;
  margin: 0 0 30px 0px;
}

.what__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.what__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 430px;
          flex: 0 0 430px;
}

.what__image img {
  max-width: 430px;
}

.what__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0 0 0 38px;
}

.what__text {
  color: #445161;
  font-size: 16px;
}

.what__text p {
  margin: 0 0 30px 0px;
}

.columns {
  background: #ebfafa;
  padding: 50px 0 20px 0;
}

.columns__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -8px;
}

.columns__colummn {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: 0 0 30px 0;
  padding: 0 8px;
}

.title {
  font-size: 30px;
  text-align: center;
  margin: 0 0 30px 0;
}

.item__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
}

.item__body {
  color: #445161;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0 0 0 15px;
}

.item__title {
  font-size: 24px;
  margin: 0 0 15px 0;
}

.item__text {
  font-size: 16px;
}

.vertical {
  padding: 50px 0;
}

.vertical__title {
  text-align: center;
  margin: 0 0 30px 0;
}

.vertical__body {
  max-width: 990px;
  margin: 0 auto;
}

.vertical__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 22.5px;
}

.vertical__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 22.5px;
  background: #445162;
}

.vertical__item {
  border-radius: 5px;
  border: 1px solid #445162;
}

.vertical__subtitle {
  color: #ffffff;
  font-size: 24px;
}

.vertical__label {
  font-size: 40px;
  color: #445162;
  background: white;
  padding: 15px 0;
}

.vertical__text {
  color: #ffffff;
  font-size: 14px;
  padding: 20px;
  line-height: 24px;
}

.vertical__btn {
  font-size: 18px;
  color: #445161;
  display: block;
  background-color: white;
  margin: 0 20px;
  height: 40px;
  line-height: 40px;
}
/*# sourceMappingURL=style.css.map */
